*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.container{
    background:linear-gradient(30deg,lightsalmon,white,skyBlue);
}
h1{
    background:linear-gradient(lightcyan,skyBlue, deepSkyBlue);
    padding: 35px;
}
body{
    text-align: center;
    background-image:url(space.png) ;
}
.navi{
    background:linear-gradient(45deg,lightcyan,skyBlue,deepSkyBlue);
    padding:20px;
  

}
.satur{
    filter: saturate(75%);
    background:linear-gradient(30deg,rgb(39, 39, 255),skyblue,lightcyan);
    text-align: center;

}
.ADT{
    display: inline;
    border: solid 2px black;
    padding: 4px;
    text-decoration: none;
    color: brown;
    background:linear-gradient(45deg, lightsalmon,white,pink);
}
.text{
    border: solid 2px black;
    font-weight: 700;
    background: radial-gradient(white,pink,hotpink);
}

.text2{
    border: solid 1px black;
   font-size:x-small;
    background: radial-gradient(white,pink,hotpink);
    margin-top: 10px;
}
.Sun{
    color: gold;
}
.btn-p{
    background:linear-gradient(45deg, white,red,white);
    filter:grayscale(30%);
}
.btn{
    display: inline-block;
    width: 120px;
    height: 30px;
}
.inlineB{
    background: radial-gradient(yellow, rgba(181, 177, 177, 0.639), yellow);
    display: inline-block;
}
.bottomm{
    position: relative;
    top: 20px;
}
.clickme{
    background: #fdefdf;
    position: absolute;
    right: 0px;
    color:blue;
    text-decoration: none;
}